


.selectContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;

  > label {
    color: var(--text-primary);
  }

  > select {
    background-color: var(--background);
    color: var(--text-secondary);
    padding: 0.5rem;
    border-radius: 4px;

    &:-ms-expand {
      display: none;
    }
  }


}