

.button-primary, 
.button-secondary,
.button-primary-round,
.button-secondary-round {
  --xPosition: 0;
  --yPosition: 0;
  --circleSize: 0;

  all: unset;
  :not(:disabled) {
    cursor: pointer;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  overflow: hidden;
  padding:0.5rem;
  position: relative;
  font-size: 1rem;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0 at var(--xPosition, 50%) var(--yPosition, 50%));
    pointer-events: none;
    
  }

  &:hover {
    > div {
      clip-path: circle(20% at var(--xPosition, 50%) var(--yPosition, 50%));
    }

    &:active {
      > div {
        transition: .2s linear;
        clip-path: circle(100% at var(--xPosition, 50%) var(--yPosition, 50%));
      }
    }
  }

}

.button-primary,
.button-primary-round {
  background-color: var(--primary);
  color: var(--text-primary);

  > div {
    color: var(--primary);
    background-color: var(--text-primary);
  }
}


.button-secondary,
.button-secondary-round {
  background-color: transparent;
  color: var(--text-primary);

  > div {
    color: var(--primary);
    background-color: var(--text-primary);
  }

}

.button-secondary {
  border-radius: 4px;

  > div {
    border-radius: 4px;
  }
}

.button-primary {
  border-radius: 4px;

  > div {
    border-radius: 4px;
  }
}

.button-primary-round,
.button-secondary-round {
  border-radius: 99999999999px;
  > div {
    border-radius: 99999999999px;
  }
}

