
* {
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2B2D42;
    --primary: #D90429;
    --primary-light: #EF233C;
    --text-primary: #EDF2F4;
    --text-secondary: #8D99AE;
    --backdrop: rgba($color: #000000, $alpha: .65);
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #EDF2F4;
    --primary: #D90429;
    --primary-light: #EF233C;
    --text-primary: #2B2D42;
    --text-secondary: #8D99AE;
    --backdrop: rgba($color: #000000, $alpha: .65);
  }
}

body {
  background-color: var(--background);
  box-sizing: border-box;
  -webkit-font-smoothing: 'antialieased';
  font-smooth: always;
  height: 100%;
  width: 100%;

  color: var(--text-primary);
}